<html>
  <link rel="stylesheet" href="/styles.css" />
  <body class="form-body">
    <%- include('header.ejs') %>
    <main class="form-main">
      <form method="POST" action="/new">
        <legend class="form-legend">New Message</legend>
        <div class="label-input-group">
          <label for="message-form-name-input">Name:</label>
          <input name="messageName" id="messageName" type="text" required />
        </div>
        <div class="label-input-group">
          <label for="messageText">Message:</label>
          <textarea
            name="messageText"
            id="messageText"
            type="text"
            maxlength="300"
            required
          ></textarea>
        </div>
        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </main>
    <%- include('footer.ejs') %>
  </body>
</html>
