<html>
  <body>
    <form method="POST" action="/new">
      <legend>New Message</legend>
      <label for="message-form-name-input">Name:</label>
      <input name="messageName" id="messageName" type="text" />
      <label for="messageText">Message:</label>
      <input name="messageText" id="messageText" type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
