<html>
  <body>
    <form method="POST" action="/new">
      <legend>New Message</legend>
      <label for="message-form-name-input">Name:</label>
      <input id="message-form-name-input" type="text" />
      <label for="message-form-text-input">Message:</label>
      <input id="message-form-text-input" type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
