<header>
  <a href="/" class="header-logo-group">
    <img class="header-image" src="/paper-plane.png" />
    <p class="header-text">Mini Message Board</p>
  </a>
  <a href="/new" class="new-msg-link">Create Post</a>
</header>
