<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Messages</h1>
    <a href="<%= newMessageLink.href %>"><%= newMessageLink.name %></a>
    <% messages.forEach((message) => { %> <%- include('message', { message:
    message } );%><% }); %>
  </body>
</html>
