<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Messages</h1>
    <% messages.forEach((message) => { %> <%- include('message', { message:
    message } );%><% }); %>
  </body>
</html>
