<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header.ejs', {newMessageLink: newMessageLink}) %>
    <h1>Messages</h1>
    <% messages.forEach((message) => { %> <%- include('message', { message:
    message } );%><% }); %>
  </body>
</html>
