<div class="message-card">
  <p class="message-name"><%= message.name %></p>
  <p class="message-text"><%= message.message %></p>
  <div class="message-card-bottom">
    <p class="message-added">Posted: <%= message.date %></p>
    <a class="view-post-link" href="/message/<%= message.id %>"
      >View Full Post</a
    >
  </div>
</div>
