@font-face {
  font-family: lilita;
  src: url('/LilitaOne-Regular.ttf');
}

@font-face {
  font-family: lexend;
  src: url('/Lexend-VariableFont_wght.ttf');
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: lexend, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #f6f7f8;
}

.header-logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.header-image {
  font-size: 0;
  width: 70px;
  height: 70px;
}

.header-text {
  font-size: 3rem;
  font-family: lilita;
  color: #ff3366;
}

.new-msg-link {
  text-decoration: none;
  color: black;
  border: solid 2px #ff3366;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.5rem;
}

/* Home Main */

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.main-heading {
  font-size: 2.3rem;
}

.posts-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.message-card {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  border: solid 3px black;
  border-radius: 10px;
  height: 250px;
  padding: 20px;
  width: 450px;
  gap: 20px;
  justify-content: space-between;
}

.message-name {
  font-size: 1.5rem;
  font-style: italic;
}

.message-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-bottom: dashed 1px #2ec4b6;
}

.message-added {
  margin-bottom: 10px;
}

.message-card-bottom {
  display: flex;
  flex-direction: column;
}

.view-post-link {
  text-decoration: none;
  color: black;
  border: solid 2px #ff3366;
  padding: 5px;
  border-radius: 8px;
  width: 135px;
  text-align: center;
  align-self: flex-end;
}

/* Footer */

footer {
  background-color: #f6f7f8;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

footer > a {
  color: #20a4f3;
  font-size: 1.5rem;
}

/* Message Details */

.details-body {
  display: flex;
  height: 100%;
}

.main-details {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-grow: 1;
}

.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  border: solid 5px black;
  border-radius: 15px;
  padding: 30px;
}

.details-heading,
.details-name-heading,
.details-message-heading,
.details-date-heading {
  font-family: lilita;
}

.details-heading {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.name-group {
  margin-bottom: 10px;
}

.details-name {
  font-size: 1.2rem;
}

.details-heading-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-group {
  flex-grow: 1;
}
