@font-face {
  font-family: lilita;
  src: url('/LilitaOne-Regular.ttf');
}

@font-face {
  font-family: lexend;
  src: url('/Lexend-VariableFont-wght.ttf');
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: lexend, Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.header-logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-image {
  font-size: 0;
  width: 90px;
  height: 90px;
}

.header-text {
  font-size: 3rem;
  font-family: lilita;
}

.new-msg-link {
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 8px;
  padding: 5px;
  font-size: 1.5rem;
}
